<h1><%= t('comment.all_comments') %></h1>

<% @comments.each do |comment| %>

  <%=link_to comment.content, post_comment_path(@post, comment) %> 
  <% if logged_in? && comment.author?(current_user) %>
  <%= link_to t('button.edit'), edit_post_comment_path(@post, comment) %>
  <%= link_to t('button.delete'),[@post, comment], method: :delete, data: { confirm: 'are you sure?' } %>
  <% end %>
  <br>
<% end %>

<%= link_to t('comment.add_comment'), new_post_comment_path %>