
  <div class="row">
    <div class="form-group">
      <div class="col-lg-4 control-label">
        <%= f.label t('user.username')  %>
      </div>
      <div class="col-lg-8">
        <%= f.text_field :username, :size => 30 %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-lg-4 control-label">
        <%= f.label t('user.email')  %>
      </div>
      <div class="col-lg-8">
        <%= f.text_field :email, :size => 30 %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-lg-4 control-label">
        <%= f.label t('user.name') %>
      </div>
      <div class="col-lg-8">
        <%= f.text_field :name, :size => 30 %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-lg-4 control-label">
        <%= f.label t('user.surname')  %>
      </div>
      <div class="col-lg-8">
        <%= f.text_field :surname, :size => 30 %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-lg-4">
        <%= f.label t('user.password') %>
      </div>
      <div class="col-lg-8">
        <%= f.password_field :password, :size => 30 %>
      </div>
    </div>
  </div>
   
  <div class="row">
    <div class="form-group">
      <div class="col-lg-4">
        <%= f.label t('user.password_confirmation') %>
      </div>
      <div class="col-lg-8">
        <%= f.password_field :password_confirmation, :size => 30 %>
      </div>
    </div>
  </div>

