<h1><%= t('tag.new_tag') %></h1>
	 <%= form_for [@post, @tag] do |f| %>

	 <% if @tag.errors.any? %>
            
         <div class="alert alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
            <h2><%= t('layout.errors') %></h2> 
            <% @tag.errors.full_messages.each do |message| %>   
               <%= message %>
               <br>   
            <% end %> 
          </div>
        <% end %>

		<div class="form-group">
		  <%= f.label :tag_content, 'Content' %>
		  <%= f.text_field :tag_content, :size => 30 %> 
		</div>
		<%= f.submit t('button.create'), class: "btn btn-large btn-primary" %>
	<% end %>