<h1><%= t('tag.new_tag') %></h1>
	 <%= form_for [@post, @tag], html: { class: "form-horizontal", role: "form" } do |f| %>

	 <% if @tag.errors.any? %>
            
         <div class="alert alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
            </button>
            <h2><%= t('layout.errors') %></h2> 
            <% @tag.errors.full_messages.each do |message| %>   
               <%= message %>
               <br>   
            <% end %> 
          </div>
        <% end %>

		<div class="form-group">
		  <%= f.label :tag_content, t('tag.content'), class: 'control-label col-md-2' %>
      <div class="col-md-8">
		    <%= f.text_field :tag_content, :size => 30, class: "form-control" %> 
      </div>
		</div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
		    <%= f.submit t('button.create'), class: "btn btn-large btn-primary" %>
      </div>
    </div>
	<% end %>