<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Myblog</title>

    <meta charset="utf-8" />

    
    <%= twitter_bootstrap_stylesheet_link_tag :netdna, force: true, version: "3.1.1" %>
    <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", :cache => true %>

     <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= twitter_bootstrap_javascript_include_tag :netdna, force: true, version: "3.1.1"  %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <div clas="row">
      <br>
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <div class="user_nav text-right">
          <% if current_user %>
            Logged in as <%= current_user.username %>.
            <%= link_to "Log out", logout_path %>
          <% else %>
            <%= link_to "Sign up", signup_path %> or
            <%= link_to "log in", login_path %>.
            <% end %>
        </div>
      </div>
    </div>
    <br>
    <header>
      <div class="row">
        <div class="col-md-3">
          <img src="https://secure.gravatar.com/avatar/b56274194ba9b23897ca55c43b24ff87?s=200" class="img-circle" alt="Jose Vicente"> 
        </div>
        <div class="col-md-6">
          <div class="row">
            <h1 class="text-center", id="blog_title">José Vicente Lara Cuadrado</h1>
          </div>
          <div class="row">
            <div class="col-md-5" id="blog_subtitle1">
              <h3>Software Engineer</h3>
            </div>
        
            <div class="col-md-5" id="blog_subtitle2">
              <ul class="list-inline">
                <li id="option1">
                  <h4><%= link_to 'GitHub',"http://github.com/Joselarcu" %></h4>
                </li>
                <li id="option2"><h4><%= link_to 'Contact', contact_path %></h4></li>
                <li id="option3"><h4><%= link_to 'Projects', projects_path %></h4></li>
                <li id="option4"><a href="<%= root_path%>"> <i class="fa fa-home", id="home_icon"> </i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%= render 'layouts/messages' %>
    </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <%= yield %>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2 text-left">
        
      </div>
    </div>
      <%# footer %>
      
      <div class="row">
        <footer class="text_center">
          <%= render '/layouts/footer' %>
        </footer>
      </div>
  </body>
</html>